{% extends 'base.html' %} {% block content %}

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Room</th>
      <th>Subjects</th>
    </tr>
  </thead>
  <tbody>
    {% for teacher in teacher %}
    <tr>
      <td>
        <a href="{% url 'teacher:detail' teacher.firstName %}"
          >{{ teacher.firstName }}</a
        >
      </td>
      <td>{{ teacher.lastName }}</td>
      <td>{{ teacher.roomNumber }}</td>
      <td>{{ teacher.subjectsTaught }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
